/* Pour tous les éléments */
* {
    /* Marges */
    padding: 0;
    margin: 0;
}

/* Body */
body {
    /* Fond */
    background-color: rgb(249, 249, 249);
    /* Taille */
    width: 100%;
    height: 100%;
    /* Marges */
    margin-top: 30vh;
}

/* Bloc de texte */
#bloc_def {
    /* Fond */
    background-color: rgba(211, 211, 211, 0.195);
    /* Taille */
    width: 60%;
    /* Bordure */
    border-radius: 5px;
    /* Marges */
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 5vh;
    padding-bottom: 5vh;
    margin-left: 10%;
    margin-right: 10%;

}


/* Mot affiché */
#mot_presente {
    /* Font */
    font-family: 'Tangerine', serif;
    font-size: 5em;
    text-shadow: 4px 4px 4px #aaa;
}

/* Définition */
#definition {
    /* Font */
    font-family: 'Dancing Script';
    font-size: 1em;
}

/* Partie lien git */
#git_hub {
    /* Positionnement */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    bottom: 5vh;
    /* Taille */
    width: 100vw;
}

/* Lien git */
/* Normal */
#lien_git {
    color: rgb(132, 132, 132);
}
/* Hover */
#lien_git:hover {
    color: rgb(136, 136, 136);
}




/* BTN reload */

button {
    position: relative;
    width: 15vw;
    height: 10vh;

    text-align: center;
    color: white;
    border: none;
    outline: none;

    cursor: pointer;
    overflow: hidden;
    
    transition: transform 0.4s ease-in-out;
}



.btn-green {
    background: rgb(132, 132, 132);
    border-bottom: 2px solid rgb(132, 132, 132);
    border-radius: 50px;
}
.btn-green .icon {
    width: 24px;
    height: 24px;
    transition: all 0.4s ease-in-out;
}
.btn-green:hover .icon {
    transform: rotate(360deg) scale(1.2);
}



.ligne_1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}